.books-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.book-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  width: 280px;
  height: 400px;
  background-color: rgba(149, 149, 149, 0.589);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(132, 132, 132, 0.663);
}

.book-cover {
  width: 80%;
  height: 70%;
  object-fit: fill;
}

.book-container p {
  width: 200px;
  text-align: left;
  overflow: inherit;
  text-overflow: ellipsis;
}
